<h1>About Me/usuario</h1>

<h1 class= "name">Hi I'm Daniel Mora</h1>

<p class= "descripcion">A través de la programación he sido capaz de crear aplicaciones, juegos y proyectos 
que me permiten expresar mis ideas de una manera única.
Es una forma única de expresión donde podemos crear desde cero una página o un sitio 
que ayude a un sector de la población con un problema o dificultad.</p>



