
<%= render 'layouts/navbar'%>

<div class= "central">
<h1 class= "name"> Hi游놑,
<br>I'm Daniel Mora,
<br>Front-end Developer</h1>

<%= image_tag "dan.jpg" %>

</div>



<p class= "descripcion">A trav칠s de la programaci칩n he sido capaz de crear aplicaciones, juegos y proyectos 
que me permiten expresar mis ideas de una manera 칰nica. <br>
Es una forma 칰nica de expresi칩n donde podemos crear desde cero una p치gina o un sitio 
que ayude a un sector de la poblaci칩n con un problema o dificultad.</p>
