 <%= render 'layouts/navbar'%>

<div class="skills-container">
 <div>
   <h2>Conocimientos técnicos:</h2> <br>
 <ul>
   <li> HTML </li>
   <li> JavaSript </li>
   <li> React </li>
   <li> ruby On Rails </li>
   <li> SQL </li>
 </ul>
</div>

<div>
   <h2>Habilidades blandas:</h2> <br>
 <ul>
   <li> Trabajo en equipo </li>
   <li> Proactivo </li>
   <li> Capacidad de analizar </li>
   <li> Rápido aprendizaje </li>
   <li> Responsabilidad </li>
 </ul>
</div>

</div>