<%= render 'layouts/navbar'%>

   <h1 class="titulo"> Proyectos : </h1>

<div class= "proyecto1">
 <h2 class="nombre">Mi Curriculum</h2>
  <h3> Fechas: </h3>
    <p>Julio 14 2023/Julio 19 2023</p>
  <h3> Descripción : </h3>
    <p>Creación de curriculum virtual simple </p>
  <h3> Responsabilidad : </h3>
    <p>Creación completa de la pagina </p>
  <h3> Tecnologías utilízadas : </h3>
   <p> HTML </p>
  <h3> Link : </h3> 
 <a href="https://github.com/DanMH77/Mi-curriculum">Mi-curriculum</a>
</div>

<div class= "proyecto2">
 <h2 class="nombre">Mi Curriculum v2.0</h2>
  <h3> Fechas: </h3>
    <p>Julio 18 2023/Julio 25 2023</p>
  <h3> Descripción : </h3>
    <p>Creación de curriculum virtual complejo </p>
  <h3> Responsabilidad : </h3>
    <p>Creación completa de la pagina </p>
  <h3> Tecnologías utilízadas : </h3>
   <p> HTML, Java </p>
  <h3> Link : </h3> 
 <a href="https://github.com/DanMH77/Project-Dan-MH"> Mi Curriculum v2.0 </a>
</div>

<div class= "proyecto3">
 <h2 class="nombre">Ahorcado</h2>
  <h3> Fechas: </h3>
    <p> Agosto 15 2023/ Septiembre 1 2023</p>
  <h3> Descripción : </h3>
    <p>Juego del ahorcado con palabras random  </p>
  <h3> Responsabilidad : </h3>
    <p>Creación completa del juego desde 0 </p>
  <h3> Tecnologías utilízadas : </h3>
   <p> HTML, Java </p>
  <h3> Link : </h3> 
 <a href="https://github.com/DanMH77/Ahorcado-Dan-MH"> Ahorcado </a>
</div>
