.name{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 50px;
    color: white;
    text-shadow: 3px 3px 5px black;
}
.descripcion{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: x-large;
    color: black;
    text-shadow: 2px 2px rgb(255, 255, 255);
}
.central{
    display: flex;
    justify-content: space-evenly;
}
img{
    width: 250px;
    height: 250px;
    border-radius: 50%;
}
