h2{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 40px;
    color: white;
    text-shadow: 3px 3px 5px rgb(0, 0, 121);
}
li{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: x-large;
    color: black;
    text-shadow: 2px 2px rgb(255, 255, 255);
   
}
.skills-container{
    display: flex;
    justify-content: space-around;
}