<header>
  <nav>
    <ul class='rutas'>

      <li class= "Home">
        <%= link_to "Home", root_path %>
      </li>

       <li>
        <%= link_to "Skills", skills_path %>
      </li>

      <li>
        <%= link_to "Projects", projects_path %>
      </li>

      <li>
        <%= link_to "Contact", contact_path %>
      </li>

    </ul>
  </nav>
</header>