<header>
  <nav>
    <ul class='rutas'>

      <li class= "Home">
        <%= link_to "Home admin", admins_about_path %>
      </li>

       <li>
        <%= link_to "Skills admin", admins_skills_path %>
      </li>

      <li>
        <%= link_to "Projects admin", admins_projects_path %>
      </li>

   

    </ul>
  </nav>
</header>